<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml的模式文件是由Sun公司定义的，每个web.xml文件的根元素<web-app>中，都必须标明这个 web.xml使用的是哪个模式文件。其它的元素都放在<web-app></web-app>之中。 -->
<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- 定义 Servlet 的名称 -->
    <servlet>
    	<!-- 指定 Servlet 的名称 -->
    	<servlet-name>Helloworld</servlet-name>
    	<!-- 指定 Servlet 类的全名 -->
    	<servlet-class>controller.ServletAction</servlet-class>
    </servlet>
    <!-- 定义 Servlet 映射信息 -->
    <servlet-mapping>
    	<!-- 定义 Servlet 名 -->
    	<servlet-name>Helloworld</servlet-name>
    	<!-- 指定在浏览器中访问的 Servlet 的 URL -->
    	<url-pattern>/servlet/helloworld</url-pattern>
    </servlet-mapping>
    <!-- 配置欢迎页 -->
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>